<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>The Learner Academy Project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ClassJOIN</display-name>
    <servlet-name>ClassJOIN</servlet-name>
    <servlet-class>ClassJOIN</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassJOIN</servlet-name>
    <url-pattern>/ClassJOIN</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DbUtil</display-name>
    <servlet-name>DbUtil</servlet-name>
    <servlet-class>DbUtil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DbUtil</servlet-name>
    <url-pattern>/DbUtil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>studINSERT</display-name>
    <servlet-name>studINSERT</servlet-name>
    <servlet-class>studINSERT</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studINSERT</servlet-name>
    <url-pattern>/studINSERT</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentUPDATE</display-name>
    <servlet-name>StudentUPDATE</servlet-name>
    <servlet-class>StudentUPDATE</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentUPDATE</servlet-name>
    <url-pattern>/StudentUPDATE</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentDelect</display-name>
    <servlet-name>StudentDelect</servlet-name>
    <servlet-class>StudentDelect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentDelect</servlet-name>
    <url-pattern>/StudentDelect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SUBtecher</display-name>
    <servlet-name>SUBtecher</servlet-name>
    <servlet-class>SUBtecher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SUBtecher</servlet-name>
    <url-pattern>/SUBtecher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SUBlistRETRIVE</display-name>
    <servlet-name>SUBlistRETRIVE</servlet-name>
    <servlet-class>SUBlistRETRIVE</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SUBlistRETRIVE</servlet-name>
    <url-pattern>/SUBlistRETRIVE</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MasterLiStclass</display-name>
    <servlet-name>MasterLiStclass</servlet-name>
    <servlet-class>MasterLiStclass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MasterLiStclass</servlet-name>
    <url-pattern>/MasterLiStclass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubtechUPDATE</display-name>
    <servlet-name>SubtechUPDATE</servlet-name>
    <servlet-class>SubtechUPDATE</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubtechUPDATE</servlet-name>
    <url-pattern>/SubtechUPDATE</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>studentRETRIVE</display-name>
    <servlet-name>studentRETRIVE</servlet-name>
    <servlet-class>studentRETRIVE</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentRETRIVE</servlet-name>
    <url-pattern>/studentRETRIVE</url-pattern>
  </servlet-mapping>
</web-app>